.footer {
	background-color: $lightgrey;

	.row > div {
		margin-top: 15px;
		font-size: 15px
	}


	h4 {
		margin-bottom: 10px;
		font-size: 15px
	}

	ul {
		li {
			margin-top: 10px;
			font-size: 15px
		}
	}


	.subscription-form {
		> div {
			display: inline-block;
			font-size: 15px
		}
	}

	.social-icons {
		margin-top: 10px;
		display: inline-block;
		font-size: 25px

	}
}
